<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>测试Vue</title>
        <!-- 得用开发环境版本，包含了有帮助的命令行警告 -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id="counter">
            <p><button @click="counter += 1">Add 1</button></p>
            <p>Counter: {{ counter }}</p>
            <p>字符串：{{ message1 }}</p>
            <p><button v-on:click="reverseMessage">反转字符串</button></p>
            你输入了：{{ message2 }}</p>
            <p><input v-model="message2" /></p>
            <p><span v-bind:title="timestr">
                鼠标悬停几秒查看动态信息！
            </span></p>
            <p>
                <ul>
                    <li v-for="(todo, index) in todos" :key="todo.id">
                        {{ todo.id }} -- {{ todo.text }}
                    </li>
                </ul>
            </p>
            <p><button @click="method1">弹框</button></p>
            <p>
                <select v-model="selected">
                    <option v-for="option in options" :value="option.value">
                        {{ option.text }}
                    </option>
                </select>
                <span>You selected: {{ selected }}</span>
            </p>
            <p>
                <cp-btn></cp-btn>
                <cp-btn></cp-btn>
                <cp-btn></cp-btn>
                <cp-btn></cp-btn>
                <cp-btn></cp-btn>
            </p>
        </div>
        <script>
            var app = new Vue({
                el: '#counter',
                data() {
                    return {
                        counter: 0,
                        cp: 0,
                        message1: 'I am happy!',
                        message2: 'Who are you?',
                        timestr: '当前时间：' + new Date().toLocaleString(),
                        todos: [
                            { id: 1, text: 'The first one' },
                            { id: 2, text: 'The second one' },
                            { id: 3, text: 'The third one' },
                            { id: 4, text: 'The forth one' }
                        ],
                        selected: "A",
                        options: [
                            { value: "A", text: "The first option." },
                            { value: "B", text: "The second option." },
                            { value: "C", text: "The third option." }
                        ]
                    }
                },
                mounted() {
                    setInterval(() => {
                        this.counter++
                    }, 1000)
                },
                methods: {
                    reverseMessage() {
                        this.message = this.message
                            .split('')
                            .reverse()
                            .join('')
                    },
                    method1(event) {
                        alert('Hello, ' + this.name + '!')
                        if (event) {
                            alert(event.target.tagName)
                        }
                    }
                },
                components: {
                    'cp-btn': {
                        template: `
							<button @click="cp++">You clicked me {{ cp }} times.</button>`,
                        data: function () {
							return { cp: 0 }
                        }
                    }
                }
            })
        </script>
    </body>
</html>
